.header
{
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: #121212;
}

.header__logo
{
    width: 100%;
}

.header__menu
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #272b3a87;
}

.header__item
{
    display: inline-block;
}

.header__item a
{
    display: inline-block;
    padding: 1.86em 1.42em;
}

@media (min-width: 640px)
{
    .header
    {
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .header__logo
    {
        padding: 2.5em 0;
    }

    .header__menu
    {
        background-color: transparent;
    }
}

@media (min-width: 770px)
{
    .header__item-header--contact
    {
        margin-left: 1.42em;
        border-radius: 6px;
        background-color: #e93d50;
    }

    .header__item-header--contact a
    {
        padding: 1.8em 3.5em;
    }
}

@media (min-width: 1066px)
{
    .header
    {
        padding-left: calc ((100% - 960px)/2);
        padding-right: calc((100% - 960px)/2);
    }
}